snippet snipdocstring
"""
summary:
args:
"""
endsnippet

snippet snipdict
dict_name = {
	"key1": "value1",
	"key2": "value2",
	"key3": "value3",
}
endsnippet

snippet snipsplit
""" ctrl+w r = rotate to side by side splits """
""" ctrl+w H = fill split in left-most horizental view """
""" ctrl+w L = fill split in Right-most horizental view """
""" ctrl+w J = fill split on upper vertical view """
""" ctrl+w K = fill split on Lower vertical view """
endsnippet
